{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}FACES | Réinitialiser votre mot de passe{% endblock %}


{% block content %}

<section id="account-form" class="section-a">

    <div class="account">

        {% include 'magazine/logo-white.html' %}

        <h1><strong>Réinitialiser votre mot de passe - étape 4</strong></h1>
        <hr>

        <p>Votre nouveau mot de passe a bien été enregistré !</p>

        <div class="useful">
            <a href="{% url 'index' %}">{% trans "Revenir à l'accueil" %}</a> &nbsp;|&nbsp; <a href="{% url 'login' %}">{% trans "Connexion" %}</a>
        </div>

    </div>
    
</section>

{% endblock %}