{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}FACES | Réinitialiser votre mot de passe{% endblock %}


{% block content %}

<section id="account-form" class="section-a">

    <div class="account">

        {% include 'magazine/logo-white.html' %}

        <h1><strong>Réinitialiser votre mot de passe - étape 2</strong></h1>
        <hr>
        <p>Un email pour réinitialiser votre mot de passe vous a été envoyé.<br>
        Consultez votre boite, et cliquez simplement sur le lien.</p>

    </div>
    
</section>

{% endblock %}
